<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mashup.torchlight">

    <application
        android:name=".TorchlightApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mashup.torchlight.ui.project.CreateProjectActivity" />
        <activity android:name=".ui.preferences.PreferencesActivity" />
        <activity android:name=".ui.NotifyAgreementActivity" />
        <activity android:name=".ui.mypage.EditProfileActivity" />
        <activity android:name=".ui.mypage.MyPageActivity" />
        <activity android:name=".ui.mypage.CreateProfileActivity" />
        <activity android:name=".ui.NotifyAgreementActivity" />
        <activity android:name=".ui.signup.SignUpActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>